h1 {
  text-align: center;
}

form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: auto;
  background-color: #ccc;
  padding: 15px;
}

.inputLine{
  display: flex;
  margin: 2px;
  width: 30vw;
  justify-content: space-between;
}

button{
  margin: 2px;
}