h1 {
  text-align: center;
}

h3{
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
}

.contactCard{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 20vw;
  background-color: rgb(111, 111, 114);
  margin: 1vw;
  border-radius: 8px;
}

.contactLine{
  display: flex;
  width: 20vw;
  justify-content: space-between;
}